.navbar-bottom-menu{
    padding: 10px 0px;
    display: flex;
    justify-content: flex-start;
    font-size:16px;

}

.navbar-bottom-menu .container{
    margin-left: 120px;
    display: flex;
    justify-content: flex-start;
    column-gap: 30px;

}

.navbar-bottom-menu .navlinks-container .menu-item ul {
    display: none;
    position: absolute;
    left: 100%;
    /* Đặt submenu sang phải của menu item */
    top: 0;
    background-color: #cccccc;
    /* Màu nền cho submenu */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    /* Thêm bóng cho submenu */
    z-index: 1000;
}

/* .navbar-bottom-menu .navlinks-container .text-accent-content .menu-item a:hover ul {
    display: block; */
    /* Hiển thị submenu khi hover */
/* } */

.navbar-bottom-menu .navlinks-container ul li {
    padding: 10px;
    /* Đệm cho mỗi item trong submenu */
    white-space: nowrap;
    /* Đảm bảo text không bị wrap */
}





.topbar ul{
    display: flex;
    justify-content: flex-end;
    column-gap: 30px;
    padding-right: 50px;
}

.topbar ul li{
    display: flex;
    align-items: center;
    column-gap: 20px;
    justify-content: flex-end;
    padding: 5px 0px;
}

.topbar{
    padding: 5px 0px;
}

.topbar button{
    background-color: #FFB6B9;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
}

.navbar{
    background-color: #FFB6B9 !important;
    padding-left: 100px !important;
    padding-right: 100px !important;
}

@media(max-width: 4000px){
    .drawer-content{
        display: none;
    }

    .drawer{
        display: none !important;
    }
}

@media(max-width: 650px){
    .drawer-content{
        display: block;
    }

    .drawer{
        display: grid !important;
    }

    .navlinks-container{
        display: none !important;
    }

}

@media(max-width: 550px){
    .topbar ul {
        flex-direction: column;
    }

    .navbar{
        flex-direction: column;
    }

}