.navbar-bottom-menu {
  padding: 10px 0px;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
}

.navbar-bottom-menu .container {
  margin-left: 120px;
  display: flex;
  justify-content: flex-start;
  column-gap: 30px;
}

.navbar-bottom-menu .navlinks-container .menu-item {
  position: relative;
}

.navbar-bottom-menu .navlinks-container .menu-item ul {
  display: none;
  position: absolute;
  left: 0%;
  top: 2.5rem;
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.navbar-bottom-menu .navlinks-container .menu-item:hover ul,
.navbar-bottom-menu .navlinks-container .menu-item ul.open {
  display: block;
}

.navbar-bottom-menu .navlinks-container ul li {
  padding: 2px;
  white-space: nowrap;
}

.topbar ul {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  padding-right: 50px;
}

.topbar ul li {
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: flex-end;
  padding: 5px 0px;
}

.topbar {
  padding: 0px 0px;
}

.topbar button {
  background-color: #bbded6;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
}

.navbar {
  background-color: #ffb6b9 !important;
  padding-left: 100px !important;
  padding-right: 150px !important;
}

.navbar-bottom-menu {
  background-color: #ffffff;
}

@media (max-width: 4000px) {
  .drawer-content {
    display: none;
  }

  .drawer {
    display: none !important;
  }
}

@media (max-width: 650px) {
  .drawer-content {
    display: block;
  }

  .drawer {
    display: grid !important;
  }

  .navlinks-container {
    display: none !important;
  }
}

@media (max-width: 550px) {
  .topbar ul {
    flex-direction: column;
  }

  .navbar {
    flex-direction: column;
  }
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  background-color: white; /* Thay đổi màu nền nếu cần */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc; /* Border rộng */
  width: 100px; /* Độ rộng của menu */
  z-index: 1000;
}

.menu-dm.open {
  display: flex;
}

.menu-dm li {
  width: 100%;
  border-bottom: 1px solid #ccc; /* Border giữa các mục */
}

.menu-dm li:last-child {
  border-bottom: none; /* Loại bỏ border cho mục cuối cùng */
}

.menu-dm li a {
  display: block;
  padding: 10px 15px; /* Khoảng cách bên trong */
  color: #333; /* Màu chữ */
  text-decoration: none; /* Loại bỏ gạch chân */
}

.menu-dm li a:hover {
  background-color: #f0f0f0; /* Màu nền khi hover */
}

.menu-item {
  position: relative;
}

.menu-item button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

.icon {
  margin-right: 8px;
}
